---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-7.5 order-1 order-md-2">
        {{ content }}
        {% if page.show_call_box %}
          <!-- button to download the app -->

          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}

      <div class="col-12 col-md-7 col-lg-5 order-1 order-md-2 position-relative" >
        <h3 style="margin-top: 50px; font-weight: bold; color: #6f0e62;">Download extension for free</h3>
        <div style="margin: 50">

            <!-- adding image of mac download using html with size of 32*32-->
            <!-- add some space in the front -->
            <img src="https://cdn-icons-png.flaticon.com/512/154/154877.png" alt="Chrome Extension" width="32" height="32"> 
            <a href="https://drive.google.com/drive/folders/14TnMdbARQxCkLD7MHPeb3MHW9jkuS-zk?usp=sharing" class="button">Chrome Extension</a> 
          </div>
          <br>
        <div style="margin: 50">

            <img src="https://cdn-icons-png.flaticon.com/512/732/732023.png" alt="Firefox Extension" width="32" height="32">
          <a href="https://drive.google.com/drive/folders/14TnMdbARQxCkLD7MHPeb3MHW9jkuS-zk?usp=sharing" class="button">Firefox Extension</a>  

            <!-- adding image of linux download using html with size of 32*32-->
          </div>
          
    </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- add waiting list-->
<!-- modify this form HTML and place wherever you want your form -->

<!-- embed a youtube video in using html in the center -->
<!-- <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">

  <iframe loading="lazy" style="position: absolute; width: 80%; height: 80%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFZqke1NcY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div> -->


<div class="strip">
  
  <div class="container pt-3 pb-6 pb-md-10">
    
    <div class="row justify-content-start">
      
      {% assign limit = site.home.limit_services | default: 2 %}
      {% for service in site.services limit: limit %}
      
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div style="position: relative; width: 70%; height: 0; padding-top: 39.2500%;
      padding-bottom: 0; box-shadow: 0 8px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; margin-left: 13%;
      border-radius: 8px; will-change: transform; text-align: center;">
       <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0 0em;"
         src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFZqke1NcY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
       </iframe>
     </div>     

    </div>
    <div style="width:85%; height:300px; margin: 0 auto; text-align:center;" data-tf-widget="u54Q0ZQX" data-tf-opacity="100" data-tf-iframe-props="title=nolano" data-tf-transitive-search-params data-tf-disable-scroll data-tf-auto-resize data-tf-medium="snippet">
    
    </div>
    <script src="//embed.typeform.com/next/embed.js">
    </script>
    <div class="row justify-content-center">
      <div class="col-auto">
        <!-- <a class="button button-primary" href="{{ "services" | relative_url }}">View All Services</a> -->
      </div>
    </div>
  </div>
</div>
<!-- {% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %} -->
